<!DOCTYPE html>
<head>
    <link rel="stylesheet"  type="text/css" href="../css/styleselect.css">

    <title>Select your game</title>
</head>
<body>
    <div class="container">
        <div class="headline">
            <a>Find Player</a>
            <a class="active">Friends</a>
        </div>
        <div class="chat">
           <div class="messages">
                <div class="player-message">
                    <div class="player-icon-box" >
                        <div class="player-chat-icon"></div>
                        <div class="player-status-icon"></div>
                    </div>
                    <div class="player-name" style="background-color: #0e4212;">player 1</div>
                    <div class="player-last-message" style="background-color: #7e7c0f;">last sent message</div>
                    <div class="player-status" style="background-color: #190464;">status</div>
                </div>
           </div>
           <div class="current-conversation">
            <div class = "headline-conversation"></div>    
            <div class = "conversation-screen"></div>
            <div class = "conversation-type"></div>
           </div>
        </div>
        <div class="empty-space">

        </div>
    </div>
</body>