<!DOCTYPE html>
<head>
    <link rel="stylesheet"  type="text/css" href="../css/styleselect.css">

    <title>Select your game</title>
</head>
<body>
    <div class="container">
        <div class="headline">
            <a>Find Player</a>
            <a class="active">Friends</a>
        </div>
        <div class="chat">
           <div class="messages">
                <div class="player-message">
                    <div class="player-chat-icon"></div>
                    <div class="player-status-icon"></div>
                    <div class="player-name"></div>
                    <div class="player-last-message"></div>
                    <div class="player-status"></div>
                </div>
                <div class="player-message">b</div>
                <div class="player-message">c</div>
                <div class="player-message">d</div>
                <div class="player-message">e</div>
                <div class="player-message">f</div>
                <div class="player-message">g</div>
                <div class="player-message">h</div>
                <div class="player-message">i</div>
                <div class="player-message">j</div>
                <div class="player-message">k</div>
                <div class="player-message">l</div>
                <div class="player-message">m</div>
                <div class="player-message">n</div>
                <div class="player-message">o</div>
           </div>
           <div class="current-conversation">
            <div class = "headline-conversation"></div>    
            <div class = "conversation-screen"></div>
            <div class = "conversation-type"></div>
           </div>
        </div>
        <div class="empty-space">

        </div>
    </div>
</body>