*{
    box-sizing: border-box;
    font-family: 'Gotu';
    font-style: normal;
}

p{
    margin:0;
}

.container{
    width:100vw;
    height: 100vh;
    background: linear-gradient(222.1deg, #7C819C 16.86%, rgba(161, 164, 184, 0.53) 57.66%, rgba(130, 112, 94, 0.76) 86.8%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 8vw;
    color: #494752;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#logotext{
    height: auto;
}

#sublogo
{
    height: auto;
    padding: 0;
    font-size: 2vw;
}

.login-container{
    width: 50%;
}

#loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

form{
    width: 80%;
    height: 60vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

#registration{
    font-size: 0.3em;
    margin:0;
    font-weight: 300;
    text-align: center;
}

a{
    text-decoration: underline solid black 0.1em;
}

input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4.5vw;
    border: none;
    width:70%;
    height: auto;
    border: 1px solid grey;
    padding: 2.5vh;
    margin:0;
}

button{
    background: #F55C0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4.5vw;
    border: none;
    padding: 2.5vh;
    margin:0;
    width:70%;
    height: auto;
    font-weight: 400;
    color: #FFFFFF;
}

html, body{
    width: 100%;
    height: 100%;
    margin:0;
    font-size: 50px;
}

h1{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 3vw;
    line-height: 44px;
    margin:0;
    color: #000000;
}

@media only screen and (max-device-width: 650px) {
    .container{
        flex-direction: column;
    }

    *{
        font-size:36px;
    }

    .login-container, .logo{
        width: 100%;
    }

    form{
        margin:auto;
        height: 60vh;
    }

    h1{
        font-size: 2em;
    }

    #registration{
        font-size: 0.7em;
    }

    a{
        font-size: 0.9em;
    }

    .logo{
        margin:auto;
    }

    #logotext{
        font-size: 2em;
    }

    .login-container{
        margin-bottom: 20%;
    }
}